<!DOCTYPE html>
<html>
<head>
    <title>{{ noun.word }}</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha256-rr9hHBQ43H7HSOmmNkxzQGazS/Khx+L8ZRHteEY1tQ4=" crossorigin="anonymous" />
</head>

<body>
    <div class="container">

        <h1>{{ noun.word }}</h1>

        <p>Gender: {{ noun.gender | title }}</p>
        <p>Animacy: {{ noun.animacy | title }}</p>

        <p><a target="_blank" href="https://translate.google.com/#ru/en/{{ noun.word }}">Translation</a></p>

        <h4>Declensions</h4>

        <table class="table table-sm">

            <thead>
                <tr>
                    <th></th>

                    {% if has_singular %}
                        <th>Singular</th>
                    {% endif %}

                    {% if has_plural %}
                        <th>Plural</th>
                    {% endif %}

                </tr>
            </thead>

            <tbody>
                <tr>

                    <th class="text-right">Nominative</th>

                    {% if has_singular %}
                        <td>
                            {% for sn in singular_nominative reversed %}
                                {{ sn.word }}
                                <br />
                            {% endfor %}
                        </td>
                    {% endif %}

                    {% if has_plural %}
                        <td>
                            {% for pn in plural_nominative reversed %}
                                {{ pn.word }}
                                <br />
                            {% endfor %}
                        </td>
                    {% endif %}

                </tr>

                <tr>

                    <th class="text-right">Accusative</th>

                    {% if has_singular %}
                        <td>
                            {% for sa in singular_accusative reversed %}
                                {{ sa.word }}
                                {% if noun.animacy == "both" and sa.animacy != "both" %}
                                    ({{ sa.animacy }})
                                {% endif %}
                                <br />
                            {% endfor %}
                        </td>
                    {% endif %}

                    {% if has_plural %}
                        <td>
                            {% for pa in plural_accusative reversed %}
                                {{ pa.word }}
                                {% if noun.animacy == "both" and sa.animacy != "both" %}
                                    ({{ pa.animacy }})
                                {% endif %}
                                <br />
                            {% endfor %}
                        </td>
                    {% endif %}

                </tr>

                <tr>

                    <th class="text-right">Genitive</th>

                    {% if has_singular %}
                        <td>
                            {% for sg in singular_genitive reversed %}
                                {{ sg.word }}
                                <br />
                            {% endfor %}
                        </td>
                    {% endif %}

                    {% if has_plural %}
                        <td>
                            {% for pg in plural_genitive reversed %}
                                {{ pg.word }}
                                <br />
                            {% endfor %}
                        </td>
                    {% endif %}

                </tr>

                <tr>

                    <th class="text-right">Dative</th>

                    {% if has_singular %}
                        <td>
                            {% for sd in singular_dative reversed %}
                                {{ sd.word }}
                                <br />
                            {% endfor %}
                        </td>
                    {% endif %}

                    {% if has_plural %}
                        <td>
                            {% for pd in plural_dative reversed %}
                                {{ pd.word }}
                                <br />
                            {% endfor %}
                        </td>
                    {% endif %}

                </tr>

                <tr>

                    <th class="text-right">Instrumental</th>

                    {% if has_singular %}
                        <td>
                            {% for si in singular_instrumental reversed %}
                                {{ si.word }}
                                <br />
                            {% endfor %}
                        </td>
                    {% endif %}

                    {% if has_plural %}
                        <td>
                            {% for pi in plural_instrumental reversed %}
                                {{ pi.word }}
                                <br />
                            {% endfor %}
                        </td>
                    {% endif %}

                </tr>

                {% if has_prepositional %}
                    <tr>

                        <th class="text-right">Prepositional</th>

                        {% if has_singular %}
                            <td>
                                {% for sp in singular_prepositional reversed %}
                                    {{ sp.word }}
                                    <br />
                                {% endfor %}
                            </td>
                        {% endif %}

                        {% if has_plural %}
                            <td>
                                {% for pp in plural_prepositional reversed %}
                                    {{ pp.word }}
                                    <br />
                                {% endfor %}
                            </td>
                        {% endif %}

                    </tr>
                {% endif %}

                {% if has_locative %}
                    <tr>

                        <th class="text-right">Locative</th>

                        {% if has_singular %}
                            <td>
                                {% for sl in singular_locative reversed %}
                                    {{ sl.word }}
                                    <br />
                                {% endfor %}
                            </td>
                        {% endif %}

                        {% if has_plural %}
                            <td>
                                {% for pl in plural_locative reversed %}
                                    {{ pl.word }}
                                    <br />
                                {% endfor %}
                            </td>
                        {% endif %}

                    </tr>
                {% endif %}

                {% if has_vocative %}
                    <tr>

                        <th class="text-right">Vocative</th>

                        {% if has_singular %}
                            <td>
                                {% for sv in singular_vocative reversed %}
                                    {{ sv.word }}
                                    <br />
                                {% endfor %}
                            </td>
                        {% endif %}

                        {% if has_plural %}
                            <td>
                                {% for pv in plural_vocative reversed %}
                                    {{ pv.word }}
                                    <br />
                                {% endfor %}
                            </td>
                        {% endif %}

                    </tr>
                {% endif %}

                {% if has_partitive %}
                    <tr>

                        <th class="text-right">Partitive</th>

                        {% if has_singular %}
                            <td>
                                {% for sp in singular_partitive reversed %}
                                    {{ sp.word }}
                                    <br />
                                {% endfor %}
                            </td>
                        {% endif %}

                        {% if has_plural %}
                            <td>
                                {% for pp in plural_partitive reversed %}
                                    {{ pp.word }}
                                    <br />
                                {% endfor %}
                            </td>
                        {% endif %}

                    </tr>
                {% endif %}
            </tbody>

        </table>

    </div>

</body>

</html>
